@model IEnumerable<Director>

@{
    ViewData["Title"] = "Directors";
}

<h1 class="text-center">Directors</h1>

<div class="container container-lg shadow p-3 mb-5 bg-white rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Name of director</th>
                    <th>Short bio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var director in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => director.FirstName) @Html.DisplayFor(model => director.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => director.ShortBio)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>Ther aren't any directors'</h1>
    }
</div>